body {
  background-image: url("./bg-image1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body h1 {
  color: rgb(128, 44, 128);
  text-align: center;
}
.calculator {
  border: 2px solid black;
  min-height: 500px;
  width: 350px;
  margin: 0 auto;
  background-color: rgb(210, 100, 237);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.calculator_Output {
  border: 1px solid black;
  height: 200px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 25px;
}

.calculator_Output_Accumulator {
  font-size: 22px;
  color: rgb(27, 19, 100);
  margin-bottom: 20px;
}

.calculator_Output_Display {
  font-size: 54px;
}
.calculator_Input {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.calculator_Input_Btn {
  border: 1px solid rgb(9, 9, 14);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  margin: 5px;
  cursor: pointer;
  color: #494646;
}

.calculator_Input_Btn#equalBtn {
  background-color: rgb(255, 0, 200);
  color: white;
}
.calculator_Input_Btn:nth-child(4n) {
  background-color: rgb(233, 177, 233);
}
.calculator_Input_Btn:active {
  background-color: burlywood;
}
